<!doctype HTML>
<html>
  <head>
    <title>DSE-Test Stats</title>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.2/nv.d3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.2/nv.d3.min.css">
  </head>
  <body>
    <h2>DSE-TE Tenants Usage</h2>
    <div>
      <a href="/plot/ram">RAM usage by userID</a>
    </div>
    <div>
      <a href="/plot/cpu">VCPUs usage by userID</a>
    </div>
  </body>

</html>
